<% include partials/header %>

<% include partials/navbar %>

<div class="page-content light-content cart-header">
    <span>Cart</span>
</div>

<hr><br>

<div class="cart-cushion"></div>

<div class="page-content">
    <table id="cart-table">
        <tr class="dark-content cart-labels">
            <th class="item-icon"></th>
            <th>Item Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
        <% if (data.length > 0) { %>
            <% data.forEach(function(element) { %>
                <tr class="light-content cart-contents">
                    <td class="item-icon">
                        <a href="<%= element.link %>"><img src="<%= element.imgURL %>" alt="product-image"></a>
                    </td>
                    <td><a href="<%= element.link %>"><%= element.name %></a></td>
                    <td><%= element.price %></td>
                    <td><%= element.qty %></td>
                    <td><button class="remove-cart-item" value="<%=element.productId%>">X</button></td>
                </tr>
            <% }); %>
    </table>
        <% } else { %>
    </table>
            <br><span class="light-content empty-cart-prompt">Your cart is empty.</span><br><br>
        <% } %>
    <hr>
    <span class="page-content light-content cart-subtotal"> <%= qty %> items - <b>Subtotal:</b> <%= price %>g<br><br>
        <button class="default-button checkout-button">Checkout</button></span>
    <div class="cart-cushion"></div>
</div>

<% include partials/footer %>
