<% include partials/header %>


<% include partials/navbar %>
<% include partials/adminPanel %>

   <div class="page-content">
      <table id="cart-table">
          <tr class="dark-content cart-labels">
              <th>Item Name</th>
              <th>Category</th>  
              <th>Description</th>
              <th>Price</th>   
              <th>Image Url</th>            
              <th></th>
          </tr>
      
      <% if (data.length > 0) { %>
         <% data.forEach(function(element) { %>
             <tr class="light-content cart-contents">
                <td><input class="update-name-<%= element.productId %>" type="text" placeholder="<%= element.name %>"></td>
                <td><input class="update-cat-<%= element.productId %>" type="text" placeholder="<%= element.category %>"></td>
                <td><input class="update-desc-<%= element.productId %>" type="text" placeholder="<%= element.description %>"></td>  
                <td><input class="update-price-<%= element.productId %>" type="text" placeholder="<%= element.price %>"></td>  
                <td><input class="update-image-<%= element.productId %>" type="text" placeholder="<%= element.imgURL %>"></td>                     
                <td><button class="admin-update-item default-button" value="<%=element.productId%>">Update</button></td>
             </tr>
         <% }); %>
      </table>
     <% } else { %>
      </table>
         <br><span class="light-content empty-cart-prompt">No items returned from database.</span><br><br>
     <% } %>
      

      <div class="cart-cushion"></div>
  </div>
