<% include partials/header %>


<% include partials/navbar %>
<% include partials/adminPanel %>

   <div class="page-content">
      <table id="cart-table">
          <tr class="dark-content cart-labels">
              <th class="item-icon"></th>
              <th>Item Name</th>
              <th>Category</th>  
              <th>Description</th>
              <th>Price</th>   
              <th>Image Url</th>            
              <th>Update</th>
          </tr>
      
      <% if (data.length > 0) { %>
         <% data.forEach(function(element) { %>
             <tr class="light-content cart-contents">
               <td class="item-icon"></td>
               <form>
               <td><input class="<%= element.productId %>" id = "imgURL" type="text" placeholder="<%= element.name %>" required></td>
               <td><input class="<%= element.productId %>" id = "name" type="text" placeholder="<%= element.category %>" required></td>
               <td><input class="<%= element.productId %>" id = "description" type="text" placeholder="<%= element.description %>" required></td>  
               <td><input class="<%= element.productId %>" id = "price" type="text" placeholder="<%= element.price %>" required></td>  
               <td><input class="<%= element.productId %>" id = "category" type="text" placeholder="<%= element.imgURL %>" required></td>                     
               <td><button class="admin-update-item" value="<%=element.productId%>">Update</button></td>
               </form>
             </tr>
         <% }); %>
      </table>
     <% } else { %>
      </table>
         <br><span class="light-content empty-cart-prompt">No items returned from database.</span><br><br>
     <% } %>
      

      <div class="cart-cushion"></div>
  </div>
